<script>
	Pinly.CURRENT_USER = { 
		username: '<%= current_user.try(:username)  %>', 
		fname: '<%= current_user.try(:fname)  %>',
		lname: '<%= current_user.try(:lname)  %>',
		id: '<%= current_user.try(:id) %>',
		image_url: '<%= current_user.try(:image_url) %>',
		cloudinary_id: '<%= current_user.try(:cloudinary_id) %>'
	};
</script>

<div id="header"></div>
<div id="content"></div>
<div id="create-icon"></div>