
<div class="login-container container col-xs-offset-4 col-xs-4">
  <form action="<%= session_url %>" method="post">

    <input type="hidden" name="authenticity_token"
    value="<%=form_authenticity_token%>" >

    <div class="form-group">
    <label for="username">Username:</label>
    <input  class="form-control"
            type="text"
            id="username"
            name="session[username]"
            value="<%=@user.username%>">
    </div>

    <div class="form-group">
    <label for="password">Password:</label>
    <input  class="form-control"
            type="password"
            id="password"
            name="session[password]">
    </div>

    <div class="form-group">
      <button name="submit" class="btn btn-default">Log In</button>
    </div>
  </form>

  <form class="guest-login" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token"
    value="<%=form_authenticity_token%>" >
    <input type="hidden" name="session[username]" value ="zackmorris">
    <input type="hidden" name="session[password]" value="password">
    <button name='submit' class='btn btn-default'>Guest Tour</button>
  </form>

  <%= link_to "Sign up", new_user_url, class: 'btn btn-default' %>
</div>

<div class='pinly-preview col-xs-offset-2 col-xs-8'><%= image_tag 'pinly.png', class: 'img-responsive' %></div>

<div id="particles-js"></div>

<script>
  $(document).ready(function(){ 
    ParticleBG.initialize();
  });
</script>
