<div class='backdrop'></div>

<div class="big-card-wrapper">
	<div class='big-card'>
		<div class="left">
			<a href='<%= pin.escape('url') %>' class='big-image'></a>
		</div>
		<div class="right">
			<p>Found on <%= dom %></p>
			<p><%= pinner %></p>
			<p><%= description %></p>
			<p><%= board %></p>
		</div>
	</div>
</div>
