<div class='backdrop'></div>

<div class="big-card-wrapper">
	<div class='big-card'>
		<button class="cancel-modal btn btn-danger"><i class="fa fa-arrow-circle-left"></i></button>
		<div class="left">
			<a href='<%= pin.escape('url') %>' class='big-image'></a>
		</div>
		<div class="right">
			<div class="right-container">
				<p>Found on <%= dom %></p>
				<p><%= pinner %></p>
				<p><%= description %></p>
				<p><%= board %></p>
				<ul class="comments"></ul>
				
				<form class='comment-form'>
					<div class='form-group'>
						<textarea name='comment[body]' class="form-control"
						placeholder='Add a Comment...'></textarea>
					</div>
					<div class='form-group'>
						<button class='btn btn-default'>Post</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
