<div class='card'>
	<div class='image-area'>
		<button class='pin-button btn btn-danger'>Pin it</button>
		<a href='' class='enlarge-pin'></a>
	</div>
	<div class="from">
		<i class="fa fa-pinterest red"></i> from 
		<a href="<%= pin.escape('url') %>">
			<%= dom %>
		</a>
	</div>
	<div class="pin-description">
		<%= description %>
	</div>
	<div class="pinner">
		<p class='pinner-name'><%= pinner %></p>
		<p class='pinner-board'><%= board %></p>
	</div>
</div>
