<div class='card'>
	<div class='image-area'>
		<button class='pin-button btn btn-danger'>Pin it</button>
		<button class='like-button btn btn-default'><i class="fa fa-heart"></i></button>
		<a href='' class='enlarge-pin'></a>
	</div>
	<div class="from">
		<i class="fa fa-pinterest red"></i> from 
		<a href="<%= pin.escape('url') %>">
			<%= dom %>
		</a>
		<span class='like-count'>
		<% if (numLiked) { %>
			<p><i class="fa fa-heart red"></i> <span class='like-count-num'><%= numLiked %></span></p>
		<% } %>
		</span>
	</div>
	<div class="pin-description">
		<%= description %>
	</div>
	<div class="pinner">
		<div class="card-avatar"></div>
		<p class='pinner-name'><%= pinner %></p>
		<p class='pinner-board'><%= board %></p>
	</div>
</div>
