<div class="login-container container col-xs-offset-4 col-xs-4">
		<h3>Create Account</h3>	
		<form action="<%= user_url %>" method="post">

		  <input type="hidden" name="authenticity_token"
		                       value="<%=form_authenticity_token%>" >

		  <div class="form-group">
		  <label for="username">Username:</label>
		  <input  class="form-control"
		          type="text"
		          id="username"
		          name="user[username]"
		          value="<%=@user.username%>">
		  </div>

		  <div class="form-group">
		  <label for="firstname">First Name:</label>
		  <input  class="form-control"
		          type="text"
		          id="firstname"
		          name="user[fname]"
		          value="<%=@user.fname%>">
		  </div>

		  <div class="form-group">
		  <label for="lastname">Last Name:</label>
		  <input  class="form-control"
		          type="text"
		          id="lastname"
		          name="user[lname]"
		          value="<%=@user.lname%>">
		  </div>
		  
		  <div class="form-group">
		  <label for="description">A Sentence or Two About You:</label>
		  <textarea id="description" name="user[description]" class="form-control"
		  ><%=@user.description%></textarea>
		  </div>

		  <div class="form-group">
		  <label for="username">Password:</label>
		  <input  class="form-control"
		          type="password"
		          id="password"
		          name="user[password]">
		  </div>

		  <div class="form-group">
		  <button name="submit" class="btn btn-primary">Create Account</button>
		  </div>
		</form>
		<%= link_to "Log in", new_session_url %>
</div>
